<button md-icon-button (click)="clicked=false" *ngIf="clicked">
  <md-icon>more_vert</md-icon>
</button>

<md-card *ngIf="!clicked" class='form'>
    <md-input-container>
    <input type="text" [(ngModel)]="title" mdInput placeholder="Counting down to..." />
    </md-input-container>
    <br/>
    <md-input-container>
      <input type="datetime-local" [(ngModel)]="doomsDay" mdInput placeholder="When is the big day?" size=40 />
    </md-input-container>
    <br/>
    <button md-button (click)="clicked = true" [disabled]="!title">Hide!</button>
</md-card>
<div *ngIf="title" class='display'>
  <h1>
    {{title}}
  </h1>
 {{doomsDay | date:'EEEE MMMM d, y HH:mm:ss'}}
 {{today | date:'EEEE MMMM d, y HH:mm:ss'}}
<br/><br/>
 Seconds<hr/>{{seconds | commaNumber:0}}<hr/>
 Minutes<hr/>{{minutes | commaNumber}}<hr/>
 Hours<hr/>{{hours | commaNumber}}<hr/>
 Days<hr/>{{days | commaNumber}}<hr/>
 Work Days<hr/>{{workDays | commaNumber}}<hr/>

 <br>
 <img src='https://media2.fdncms.com/riverfronttimes/imager/u/blog/2649170/beavis_butthead_6_7_thumb_400x298.gif'/>
</div>

