/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Endor";
    src: url(assets/endor/ENDOR___.ttf) format("truetype");
}
body { 
    font-family: "Endor", Verdana, Tahoma;
    margin: 0;
    background-color: #C0C0C0;
}

div {
    text-align: center;
}

img {
    border-radius: 5px;
    max-width: 500px;
}

hr {
    max-width : 500px;
}

input {
    line-height: 2em;
	border-radius: 6px;
	font-size: large;
	font-family: "Endor", Verdana, Tahoma;
}

input.datetime {
    font-family: Verdana, Tahoma;
}